* {
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  margin: 40px 25px;
  width: 50%;
  grid-template-columns: repeat(4, 6fr);
  grid-template-rows: minmax(7rem, auto) repeat(5, 6rem);
}

.output {
  grid-column: 1 / -1;
  background-color: #3a3553;
  text-align: end;
  color: #fff;
  font-size: 70px;
  padding: 15px;
}

.double {
  grid-column: span 2;
}

button {
  cursor: pointer;
  font-weight: bolder;
  font-size: 25px;
  border-color: #fff;
}

.orange {
  background-color: #da6900;
}

.App {
  display: flex;
  justify-content: space-around;
}

.title {
  font-size: 35px;
  margin-top: 40px;
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-between;
  margin: 20px 50px;
  align-items: center;
}

.logo {
  font-size: 40px;
}

.navLinks {
  list-style: none;
  display: flex;
  gap: 20px;
  font-size: 25px;
}

.link a {
  text-decoration: none;
  color: #000;
}

.link a:hover {
  color: #da6900;
  text-decoration: underline;
}

.activeLink {
  color: #da6900;
  text-decoration: underline;
}

.text {
  padding: 20px 80px;
}

.quote {
  text-align: center;
  margin: 15% 150px;
  font-size: 25px;
}
